{% extends "layouts/base.njk" %}

{% block body %}
  <main class="intro">
    <div class="logo-full svg-shadow">
      <svg class="alek-logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
           viewBox="0 0 627 627">
        <defs>
          <clipPath id="uuid-e78cf07c-5296-4015-b7be-d1373f5ef3ed">
            <polygon
              points="383.98 228.96 325.51 312.94 438.11 474.68 555.04 474.68 383.98 228.96"
              fill="none"
            />
          </clipPath>
          <clipPath id="uuid-c8667381-0771-42b6-96ee-8c9746b688d4">
            <polygon
              points="466.95 69.52 350.02 69.52 67.96 474.68 254.89 474.68 317.22 385.15 247.22 385.15 466.95 69.52"
              fill="none"
            />
          </clipPath>
        </defs>
        <g clip-path="url(#uuid-e78cf07c-5296-4015-b7be-d1373f5ef3ed)">
          <line x1="321.5" y1="228.5" x2="527.5" y2="515.5" fill="none" stroke-miterlimit="10" stroke-width="110"
                class="logo-line logo-line--two"/>
        </g>
        <g clip-path="url(#uuid-c8667381-0771-42b6-96ee-8c9746b688d4)">
          <polyline points="325.51 431 161 431 440.27 29.6" fill="none" stroke-miterlimit="10" stroke-width="110"
                    class="logo-line logo-line--one"/>
        </g>
      </svg>
    </div>

    <div class="alek-logo-type">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140.48 24.92" class="svg-shadow">
        <polygon points="11.46 0 0 24.92 2.67 24.92 12.55 3.12 22.47 24.92 25.14 24.92 13.67 0 11.46 0"
                 fill="currentColor"/>
        <polygon points="47.36 0 44.9 0 44.9 24.92 61.31 24.92 61.31 22.64 47.36 22.64 47.36 0" fill="currentColor"/>
        <g class="broken">
          <rect x="81.32" width="17.41" height="2.28" fill="currentColor"/>
          <rect x="81.32" y="11.15" width="17.41" height="2.25" fill="currentColor"/>
          <rect x="81.32" y="22.64" width="17.41" height="2.28" fill="currentColor"/>
        </g>
        <g>
          <polygon points="128.8 11.37 139.81 0 136.7 0 125.63 11.41 137.42 24.92 140.48 24.92 128.8 11.37"
                   fill="currentColor"/>
          <rect x="119.61" width="2.46" height="24.92" fill="currentColor"/>
        </g>
      </svg>
    </div>
    <div class="who-i-am">
      <p>
        <span class="name"><span class="bold">Aleksei</span> Polechin</span><br/>
        <strong class="job">Front-end developer</strong><br/>
        with graphic design skills
      </p>
      <a class="btn"
         data-t="cv-download"
         target="_blank" href="aleksei-polechin-cv.pdf">Download CV</a>

      <div class="social-links">
        {% include 'includes/links.njk' %}
      </div>
      <p class="skills">Angular, TypeScript, JavaScript, NodeJs, Adobe Suite</p>
    </div>
  </main>
{% endblock %}
