<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <meta name="description" content="{{ metaDescription }}"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <link rel="shortcut icon" href="../assets/images/favicon.png"/>
  <link rel="stylesheet" href="../assets/styles/main.scss"/>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet"
  />
  <!-- Google Tag Manager -->
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=GTM-PTQZFMH"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'GTM-PTQZFMH');
  </script>
  <!-- End Google Tag Manager -->
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PTQZFMH"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{%- block header %}
{% endblock -%}

{%- block body %}
{% endblock -%}

{%- block footer %}
  {% include 'includes/footer.njk' %}
{% endblock -%}

<script src="../assets/scripts/index.ts"></script>
</body>
</html>
