.skills {
  display: flex;
  margin-top: 50px;
  align-items: center;
}

.skill-logo {
  $height: 25px;

  position: relative;
  margin: 0 $height * .5;
  opacity: .7;
  transition: opacity, transform .4s;

  &:after {
    content: attr(title);
    position: absolute;
    bottom: 100%;
    left: 50%;
    opacity: 0;
    width: 150px;
    font-size: 11px;
    text-align: center;
    color: rgba(black, .3);
    transform: translateX(-50%);
    transition: all .4s;
  }

  &:hover {
    opacity: 1;
    transform: scale(1.2);
    transition: opacity, transform .4s;

    &:after {
      opacity: 1;
      bottom: 140%;
      transition: all .4s;
    }
  }

  > svg {
    height: $height;
  }

  &--adobe {
    > svg {
      height: $height * .85;
    }
  }
}
