$color-neutral-darkest: #111;
$color-neutral-dark: #222;
$color-neutral: #444;
$color-neutral-light: #666;
$color-neutral-lighter: #999;

$color-light: #FFF;
$color-dark: $color-neutral-dark;

$text-color: $color-dark;

$link-color: $color-neutral-lighter;
$link-hover-color: $color-neutral;

$font-family: 'Open Sans', Helvetica, Arial, sans-serif;
$font-size: 16px;
$font-size-h1: 2em;
