@import "normalize";
@import "sr-only";
@import "variables";
@import "icon";
@import "links";
@import "skills";
@import "footer";
@import "animations";

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;

  color: $text-color;
  font-family: $font-family;
  font-size: $font-size;

  background-color: $color-neutral-darkest;
}

main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 15dvh;
}

a.profile-link {
  display: inline-block;
  margin: 0 10px;
  font-size: 40px;
  text-decoration: none;
  color: inherit;
}

.logo-full {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.alek-logo {
  width: 90px;
  animation: blink 0.3s forwards;
  animation-delay: 0.55s;

  &:hover {
    animation: none;

    .logo-line {
      animation: none;
      stroke-dasharray: 0;
      stroke-dashoffset: 0;
    }
  }
}

.alek-logo-type {
  position: relative;
  display: block;
  width: 140px;
  margin-top: 10px;
  animation: alek-in 0.6s both;
  animation-delay: 1s;
}

.skills {
  font-size: 11px;
  color: $color-neutral-lightest;
}

.svg-shadow {
  filter: drop-shadow(0px 0px 3px rgba($primary, 0.5)) drop-shadow(0px 0px 10px $secondary);
  animation: glow 1s infinite alternate-reverse ease-in-out;
}

.logo-line {
  stroke: currentColor;

  &--two {
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    stroke-width: 110px;
    animation: dash 0.3s ease-in-out forwards;
    animation-delay: 0.25s;
  }

  &--one {
    stroke-width: 110px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 0.55s ease-in-out forwards;
  }
}

a {
  transition: filter 0.3s;

  &:hover {
    color: inherit;
    filter: drop-shadow(0px 0px 3px rgba($primary, 0.5)) drop-shadow(0px 0px 10px $secondary);
  }
}

.who-i-am {
  margin-top: 70px;
  font-size: 13px;
  text-align: center;
  animation: alek-in-2 0.6s both;
  animation-delay: 2s;
}

.job,
.name {
  letter-spacing: 0.1em;
  white-space: nowrap;
}

.name {
  margin-bottom: 0;
  margin-top: 20px;
  font-size: 16px;
  letter-spacing: 0.128em;
}

.broken {
  animation: broken 4s infinite;
}

.btn, button, a.btn {
  display: inline-block;
  margin: 15px 0 30px;
  padding: 6px 10px;
  color: $color-neutral-darkest;
  background-color: $primary;
  font-size: 14px;
}
